<tr class="nested-fields">
  <td>
    <%= f.text_area :recepi_make, autofocus: true, placeholder: "＜手順＞", size: "53" %>
  </td>
  <td>
    <%= link_to_remove_association "－", f, class: "btn btn-outline-danger rounded-pill" %>
  </td>
</tr>
