<tr class="nested-fields">
  <td>
    <%= f.text_field :ingredient, autofocus: true, placeholder: "＜材料名：必要な量(合計20文字以内)＞", size: "50" %>
  </td>
  <td>
    <%= link_to_remove_association "－", f, class: "btn btn-outline-danger rounded-pill" %>
  </td>
</tr>
