<%= stylesheet_link_tag 'recepis', media: 'all' %>
<% @page_title = 'Edit My Recipe' %>
<%= render "layouts/sidebar" %>

<div class="offset-1">
  <div class="chapter-name">
    <h2><strong>Edit My Recipe</strong></h2>
  </div>
</div>

<div class="offset-2">
  <%= render 'form', recepi: @recepi %>
</div>