<%= stylesheet_link_tag 'recepis', media: 'all' %>
<% @page_title = 'Recipes' %>

<div class="chapter-name">
  <h2><strong>Recipes</strong></h2>
</div>

<% @recepis.each do |recepi| %>
  <%= render "layouts/recepi_index", recepi: recepi %>
<% end %>
<li>
  <%= link_to "TOP", root_path %>
</li>
