<h1 class="offset-1 mt-5">Follower Users</h1>
<% @page_title = 'Follower %>
<%= render "layouts/sidebar" %>

<div class="mt-5">
  <%= render partial: "follow_index", locals: {customers: @customers, name: "フォローされている"} %>
</div>