<%= stylesheet_link_tag 'recepis', media: 'all' %>
<% @page_title = @customer.name + " Favorites" %>

<div class="chapter-name">
  <h2><strong><%= @customer.name %> Favorites</strong></h2>
</div>

<% @customer.favorites.each do |favorite| %>
  <%= render "layouts/recepi_index", recepi: favorite.recepi %>
<% end %>

<li>
  <%= link_to "TOP", root_path %>
</li>
