<%= stylesheet_link_tag 'recepis', media: 'all' %>
<% @page_title = @customer.name + "'s Recipes" %>


<div class="chapter-name">
  <h2><strong><%= @customer.name %>'s Recipes</strong></h2>
</div>

<% @customer.recepis.each do |recepi| %>
  <%= render "layouts/recepi_index", recepi: recepi %>
<% end %>

<li>
  <%= link_to "TOP", root_path %>
</li>
