body
{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #ebf5fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container
{
  width: 20vw;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container .card
{
  position: relative;
  width: calc(180 / 1400 * 100vw) !important;
  height: calc(260 / 1400 * 100vw);
  padding: calc(10 / 1400 * 100vw);
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
              inset -5px -5px 5px rgba(255,255,255,0.05),
              5px 5px 5px rgba(0,0,0,0.05),
              -5px -5px 5px rgba(255,255,255,0.05);
  border-radius: 15px;
  margin: calc(10 / 1400 * 100vw);
}

.container .card .face
{
  width: calc(160 / 1400 * 100vw) !important;
  height: calc(250 / 1400 * 100vw);
  transition: 0.5s;
}

.container .card .face.face1
{
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(calc(55 / 1400 * 100vw));
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.container .card:hover .face.face1
{
  background: #ff0057;
  transform: translateY(0);
}

.container .card .face.face1 .content
{
  /* opacity: 0.2; */
  transition: 0.5s;
  text-align: center;
}

.container .card:hover .face.face1 .content
{
  opacity: 1;
}

.container .card .face.face1 .content img
{
  width: calc(110 / 1400 * 100vw) !important;
  height: calc(110 / 1400 * 100vw);
}

.container .card .face.face2
{
  position: relative;
  background: #ebf5fc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(5 / 1400 * 100vw);
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,0.8);
  transform: translateY(calc(-50 / 1400 * 100vw));
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}

.container .card:hover .face.face2
{
  transform: translateY(0);
}

.container .card .face.face2 .content p
{
  margin: 0;
  padding: calc(3 / 1400 * 100vw);
  font-size: calc(10.5 / 1400 * 100vw);

}

.container .card .face.face2 .content a
{
  position: relative;
  display: inline-block;
  padding: calc(5 / 1400 * 100vw);
  text-decoration: none;
  font-weight: 500;
  background-color: #03a9f4;
  color: #ebf5fc;
  margin-top: calc(2 / 1400 * 100vw);
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  text-align: center;
  font-size: calc(15 / 1400 * 100vw);

}

.container .card .face.face2 .content a:hover
{
  background: #333;
  color: #fff;
}
