<div>
  <% recepi.recepi_comments.includes(:customer).each do |recepi_comment| %>
    <% recepi_comment_customer = recepi_comment.customer %>
    <tr>
      <th>
        <%#= link_to customer_path(recepi_comment_customer), class: "customer_#{recepi_comment_customer.id}" do %>
        <%#= attachment_image_tag recepi_comment_customer, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50" %><br>
        <%= recepi_comment_customer.name %>さん：
        <%# end %>
      </th>
      <td><%= recepi_comment.comment %></td>
    </tr>
    <tr>
      <% if customer_signed_in? %>
        <% if recepi_comment.comment_written_by?(current_customer) %>
          <td>
            <%= render 'recepi_comments/comment_modal', recepi_comment: recepi_comment, name: 'コメント' %>
          </td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</div>
