<div>
  <% recepi.recepi_comments.each do |recepi_comment| %>
    <% recepi_comment_customer = recepi_comment.customer %>
    <tr>
      <th>
        <%#= link_to customer_path(recepi_comment_customer), class: "customer_#{recepi_comment_customer.id}" do %>
        <%#= attachment_image_tag recepi_comment_customer, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50" %><br>
        <%= recepi_comment_customer.name %>さん：
        <%# end %>
      </th>
      <td><%= recepi_comment.comment %></td>
    </tr>
    <tr>
      <% if current_customer == recepi_comment_customer || current_customer.admin? %>
        <td>
          <button type="button" class="btn btn-outline-danger rounded-pill" data-toggle="modal" data-target="#deleteCommentModal">削除</button>
            <div class="modal fade" id="deleteCommentModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3>削除確認画面</h3>
                  </div>
                  <div class="modal-body">
                    <label>コメントを削除しますか？</label>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-out-line-default" data-dismiss="modal">閉じる</button>
                    <%= link_to '削除', recepi_recepi_comment_path(recepi_comment.recepi_id, recepi_comment.id), class: 'btn-sm btn-outline-danger rounded-pill col-sm-2 text-center', method: :delete %>
                  </div>
                </div>
              </div>
            </div>
        </td>
      <% end %>
    </tr>
  <% end %>
</div>